
_ReSharper*/
.*
!.cursor
!.cursorignore
!.cursorrules
!.editorconfig
!.gitignore
!.vscode
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPublic/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Pp]ackages/
[Rr]elease/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_key.txt
*_private_key.txt
*.[Rr]e[Ss]harper
*.7z
*.binlog
*.dll
*.DotSettings.user
*.dylib
*.key
*.log
*.nupkg
*.pem
*.sln.docstates
*.sln.iml
*.snupkg
*.suo
*.user
*.userosscache
*.VisualState.xml
*.vspscc
*.vssscc
*.zip
*~
~$*
~dotnetcleanup-*/
appcast-beta.xml
appcast.xml
artifacts/
bld/
build_errors.txt
build/
check_instructions.cs
CodeCoverage/
csharpkotor_all_files.txt
csharpkotor_all_modules.txt
csharpkotor_files_list.txt
csharpkotor_files.txt
csharpkotor_formats.txt
dist/
dist/osx-x64.zip
k_con_debug.txt
k_con_test.txt
keys/
nunit-*.xml
project.fragment.lock.json
project.lock.json
publish_release_*.log
pykotor_all_files.txt
pykotor_all_modules.txt
pykotor_files_list.txt
pykotor_files.txt
pykotor_modules_to_port.txt
pykotor_resource_formats.txt
ScaffoldingReadMe.txt
temp_*
temp-*
test_*
!test_*.py
!*.py
test-*
TestResult.xml
TestResults/
Thumbs.db
x64/
x86/
DELETEME_TEST_COMP4
DELETEME_TEST_SAFETY_539905882
vendor/kotor.three.js/
vendor/kotor.NET/
vendor/HoloLSP/
vendor/NCSDecomp/
.cursor/GhidraMCP/
vendor/reone/extern/
vendor/reone/glsl/
*.mk
vendor\Kotor.three.js\
